
<h1>
    SignUp Page
</h1>
<form action="/register" method="POST" >
    <label for="username">UserName</label>
    <input type="text" id="username" name="username">
    <label id="val" for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="phone">Mobile No:-</label>
    <input type="text" name="phone" id="phone">
    <label for="telephone">TelePhone No:-</label>
    <input type="text" name="telephone" id="telephone">
   <button>Submit</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>

<!-- <script>
    const tag = document.getElementById('val')
    function check() {
        if(tag.value.length >= 5){
        console.log("invalid password");
    }else{
        e.preventDefault();
        return false;
       
    } 
    }
    
</script> -->